  <header class="header_area " {{#if authError}}style="z-index: -1" {{/if}} {{#if reseted}}style="z-index: -1" {{/if}}>
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt=""></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/shop">Shop</a>                          
                            </li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/single-product-details">Product Details</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/single-blog">Single Blog</a></li>
                                    <li><a href="/regular-page">Regular Page</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <!-- <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div> -->
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="/favourite"><img src="/img/core-img/heart.svg" alt=""></a>
                </div>

                {{#if isAuth}}
                <!-- User Login Info -->
                 <div class="cart-area">
                    <a href="/checkout" id="essenceCartBtn"><img src="/img/core-img/bag.svg" alt=""> <span></span></a>
                </div>

                {{#if admin}}
                <div class="user-login-info">
                    <a href="/admin" class=""><img src="/img/core-img/addgood.svg" alt=""></a>
                </div>
                {{/if}}

                <div class="user-login-info">
                    <a href="/login/logout" class=""><img src="/img/core-img/exit.png" alt=""></a>
                </div>

                {{else}}
                <div class="user-login-info">
                    <a href="#" class="loginIn" onclick="modalOpen()"><img src="/img/core-img/user.svg" alt=""></a>
                </div>
                {{/if}}

               
                <!-- Cart Area -->
              
            </div>

        </div>
      
    </header>

    <div class="loginModal {{#if authError}}active {{/if}} {{#if reseted}}active {{/if}}" onclick="modalClose()"></div>
        <div class="mainLogin {{#if authError}}active {{/if}} {{#if reseted}}active {{/if}}" >
         {{#if authError}}  <div class="error">{{authError}}</div> {{/if}}
         {{#if reseted}}  <div class="error_success">{{reseted}}</div> {{/if}}
         <div class="error_block">
        <div class="loginForm ">
            <form action="/login/login" method="POST" novalidate>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="loginTitle">Login</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                </div>
                 <input type="hidden" name="_csrf" value="{{csurf}}">
                 <p><a href="/reset">Forgot your password?</a></p>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>

        <div class="registerForm">
                <form action="/email/register" method="POST" novalidate>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="loginTitle">Register</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="confirm" required>
                    </div>
                     <div class="form-group">
                        <label for="confirmInputPassword1">Password</label>
                        <input type="password" class="form-control" id="confirmInputPassword1" placeholder="Password" name="password" required>
                    </div>
                    <input type="hidden" name="_csrf" value="{{csurf}}">         
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
        </div> 
        </div>
        </div>
